body{
    background-color: #bfcff7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container{
    padding: 5%;

    background-color: #dce4f7;
    box-shadow: 10px 13px 12px #00000080;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 40px;
    text-align: center;
    width: 80%;
}


input{
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    font-size: 30px;
    width: 50px;
    border-radius: 8px;
}
button{
    font-size: 30px;
    border-radius: 8px;
    background-color: #75616b;
}

#letrasErradas, #palavra{
    font-size: 15px;
}

#palavra{
    font-size: 40px;
    margin-bottom: 50px;
}